<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
</head>
<link href="CSS/style.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="/js/vue-resource.min.js"></script>

<body>
<div id="userInfo" style="z-index:1000;position:absolute;left:10%;top:10%"></div>

<table  width="778" height="150" border="0" align="center"
        cellpadding="0" cellspacing="0" style="background:#ff695e url(images/chat.png)" >
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>
<table width="778" height="276" border="0" align="center"
       cellpadding="0" cellspacing="0">
    <tr>
        <td th:id="uTd" width="165" valign="top" bgcolor="#f6fded" id="online" style="padding:5px">在线人员列表
            <ul >
                <li  th:each="u:${users}" >
                    <h5 id="" onclick="toUser()" th:text="${u.username}" >
                    </h5>
                </li>
            </ul>
        </td>
        <td width="613" height="200px" valign="top"
            background="images/main_bj.jpg" bgcolor="#FFFFFF"
            style="padding:5px; ">
            <div  style="height:290px; overflow:hidden" id="content">聊天内容
            <textarea readonly = "readonly" id="responseText" style="width: 589px;
    height: 265px;" ></textarea></div>
        </td>

    </tr>
</table>
<table width="778" height="95" border="0" align="center"
       cellpadding="0" cellspacing="0" bordercolor="#D6D3CE"
       background="images/red.png">

    <form action="" id="form1" name="form1" method="post">
        <input type="hidden" name="method" value="sendMessage"/>
        <tr>
            <td height="30" th:align="left">&nbsp;</td>
            <td height="37" th:align="left">
                <input id="from" name="from" type="hidden" value="${session.user.username}" />
                <span id="username">[[${session.user.username}]]</span>    对
                <label>
                    <input id="to" name="to" type="text"  size="35" >
                </label>
                说：</td>
        </tr>
        <tr>
            <td width="21" height="30" align="left">&nbsp;</td>
            <td width="549" align="left">
                <input name="content" type="text" size="70">
                <input name="Submit2" type="button" class="btn_grey" value="发送"
                       onClick="send(this.form.to.value,this.form.content.value)">
            </td>
            <td align="right"><input name="button_exit" type="button"
                                     class="btn_grey" value="退出聊天室" onClick="exit()">
            </td>
            <td th:align="center">&nbsp;</td>
        </tr>
        <tr>
            <td height="30" th:align="left">&nbsp;</td>
            <td colspan="2" th:align="center" class="word_dark">&nbsp;
            </td>
            <td th:align="center">&nbsp;</td>
        </tr>
    </form>
</table>
</body>
<script th:inline="javascript">
    //自定义刷新ajax初始
    var getting = {
        //如果推送消息等于用户增加或者删除 采用ajax局部刷新list列表
        //过于麻烦 直接去后台验证队列是否相同，不然刷新队列
        url : "/user/main/renewal.do",
        dataType:"json",
        data: {

        },//不传数据，纯局部刷新
        type: "post",
        success:function(obj){
            if (obj.state === 1) {
                // alert([[${users}]].toString() + "后缀");
                $("#uTd").load(location.href + " #uTd");
                // alert("进行刷新完毕")
            }else{
                // alert("不用刷新")
            }
        }
    };

    var username = document.getElementById("username").textContent;
    function toUser() {
        var name = event.target.innerText;
        document.getElementById("to").value=name;
    }

    var socket;
    if(!window.WebSocket){
        window.WebSocket = window.MozWebSocket;
    }
    if (window.WebSocket){
        socket = new WebSocket("ws://localhost:8090/ws");

        //相当于channelRead0   ev  收到服务器端回送的数据
        socket.onmessage = function (ev) {
            //这时候刷新
            $.ajax(getting);
            //输出消息
            var rt = document.getElementById('responseText');
            rt.value = rt.value + "\n" + ev.data;
        };
        //相当于连接开启
        socket.onopen = function (ev) {
            var rt = document.getElementById('responseText')
            rt.value = "连接开始了。。。欢迎加入聊天室，请文明发言"
        };
        socket.onclose = function (ev) {
            alert("这个先进行")
            var rt = document.getElementById('responseText')
            rt.value = rt.value + "\n" + "连接关闭了";
        }
    }else {
        alert("当前浏览器不支持websocket编程")
    }

    function exit() {
        //需要在后端队列中删除,返回index
        $.ajax({
            url: "/user/main/exit.do",
            dataType:"json",
            data: {
                username
            },//不传数据，纯局部刷新
            type: "post",
            success:function(obj){
                if (obj.state === 1){
                    location.href="/"
                }else{
                    alert("出了问题")
                }
            }
        })
    }

    function send(to,message) {
        var msg = username + " " + to + " " + message;
        if (!window.socket){
            return;
        }
        if (socket.readyState === WebSocket.OPEN){
            //通过socket发送消息
            socket.send(msg);
        }else{
            alert("连接没有开启")
        }
    }
</script>
</html>